@page "/"

@inject ILocalStorageService LocalStorageService 

<PageTitle>@Resources.homePage</PageTitle>

<Hero />

<Mission />

<Artists />

<h2 class="heading">@Resources.homeQuote</h2>

<WorksOfSpecialArtists />

<TutorialsAndExhibitions />

<Partners />

<Videos />

<Logo />

<Footer />

@code {
    protected override async Task OnInitializedAsync()
    {
        var currentCulture = await LocalStorageService.GetItemAsync<string>("currentCulture");
        
        CultureInfo.DefaultThreadCurrentCulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
        
        CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
    }
}