:root {
  --primary-color: #60480a;
  --secondary-color: #e4d4c8;
  --black-modified: #201a1e;
}
.text-overlay {
  background-image: url("/Images/Works/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  height: 300px;
  margin-top: 8.5rem;
}
a {
  text-decoration: none;
}
.text-overlay a {
  color: #ffffff;
}
.text-overlay .content-container {
  padding-top: 40px;
  margin: 0 5rem;
  font-family: 'DM Sans';
}
.main-heading {
  font-family: 'EB Garamond';
  font-size: 62px;
  font-weight: 600;
  line-height: 68.2px;
  margin-top: 60px;
  text-align: left;
}
.main-heading .subtitle {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.04em;
  text-align: left;
}

.artist-details,
.artist-bio,
.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100;
}
.content-container {
  margin: 0 5rem;
  margin-top: 60px;
}
.artist-overview {
  margin-top: 60px;
  background-color: #e4d4c880;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  column-gap: 20px;
  border: none;
  padding: 35px 60px;
  border-radius: 20px;
}

.artist-details {
  width: 330px;
}

.artist-name {
  font-family: 'EB Garamond';
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
.artist-role {
  font-family: 'DM Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
}

.artist-bio {
  width: 464px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0.04em;
  text-align: justified;
}
.view-art-link {
  font-family: 'DM Sans';
  font-size: 21px;
  font-weight: 400;
  line-height: 27.34px;
  text-align: center;
  color: var(--black-modified);
}

/**/

.art-cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: (2, auto);
  row-gap: 20px;
  border: none;
}
.card {
  border: none;
}
.art-cards img {
  display: block;
  width: 100%;
  border: none;
}
.card-description {
  margin: auto;
  width: 393px;
}
.card-name {
  font-family: 'EB Garamond';
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}
.card-price {
  display: flex;
  justify-content: space-between;
}
.card-price p {
  font-family: 'DM Sans';
  font-size: 36px;
  font-weight: 700;
  line-height: 46.87px;
  text-align: left;
  vertical-align: bottom;
}
.card-price a {
  display: inline-block;
  width: 112px;
  height: 40px;
  padding: 10px 25px;
  border-radius: 30px;
  opacity: 0px;
  background-color: #e4d4c8;
  text-align: center;
  color: var(--black-modified);
}

.content-container {
  margin-bottom: 5rem;
}