<div class="content-container">
  <section class="artist-overview">
    <div class="artist-details">
      <div class="artist-name">Rəşid Məmmədəliyev</div>
      <div class="artist-role">Zərgər</div>
    </div>

    <div class="artist-bio">
      Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
      phasellus mollis sit aliquam sit nullam neque ultrices.Cum sociis
      natoque penatibus et nullam neque ultrices
    </div>

    <div class="link">
      <a href="" class="view-art-link">Bütün işlərə bax
        <img src="/Images/Works/Arrow Left.png" alt="Arrow left" /></a>
    </div>
  </section>

  <!-- ----------------------------------------------- -->

  <section class="art-gallery">
    <div class="art-cards">
      <div class="card">
        <img src="/Images/Works/arts/bracelet.png" alt="art-image" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ------------------------------------------------------------------------------------ -->

  <section class="artist-overview">
    <div class="artist-details">
      <div class="artist-name">Rana Abdullayeva</div>
      <div class="artist-role">Knitter</div>
    </div>
    <div class="artist-bio">
      Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit
      phasellus mollis sit aliquam sit nullam neque ultrices.Cum sociis
      natoque penatibus et nullam neque ultrices
    </div>
    <div class="link">
      <a href="" class="view-art-link">Bütün işlərə bax
        <img src="/Images/Works/Arrow Left.png" alt="Arrow left" /></a>
    </div>
  </section>

  <section class="art-gallery">
    <div class="art-cards">
      <div class="card">
        <img src="/Images/Works/arts/bracelet.png" alt="art-image" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="/Images/Works/arts/Ear rings.png" alt="" />
        <div class="card-description">
          <div class="card-name">Sırğa</div>
          <div class="card-price">
            <p>12 AZN</p>
            <a href="" class="card-get">Əldə et</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>