:root {
    --form-color: #e4d4c880;
    --black-modified: #201a1e;
    --input-color: #f0f2f2;
    --button-color: #ffffff;
  }
  /*container*/
  .order-container {
    width: 40rem;
    border-radius: 1.25rem;
    padding-left: 3.75rem;
    padding-right: 2.625rem;
    padding: 3.75rem 2.625rem 3.75rem 3.75rem;
    background-color: #e4d4c8ec;
  }
  
  /*first section, image, product name, artist name and art price*/
  .product-info {
    display: grid;
    grid-template-columns: 14.125rem 16.5rem;
    column-gap: 2.5rem;
  }
  
  .product-image img {
    width: 100%;
  }
  
  .product-details {
    align-content: center;
  }
  
  .product-name {
    font-family: EB Garamond;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-align: left;
    color: #201a1e;
  }
  .artist-name {
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9531rem;
    text-align: left;
  }
  .product-price {
    font-family: DM Sans;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.93rem;
    text-align: left;
    margin-top: 1.51rem;
  }
  
  /*form title and description*/
  .title {
    margin-top: 2.5rem;
    font-family: EB Garamond;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 2.625rem;
    text-align: left;
    color: #201a1e;
  }
  
  .description {
    font-family: DM Sans;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.575rem;
    letter-spacing: 0.04em;
    text-align: left;
    color: #201a1e;
    margin-top: 1rem;
  }
  
  /*form elemets*/
  form {
    margin-top: 2.5rem;
  }
  
  form label {
    font-family: EB Garamond;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.625rem;
    text-align: left;
    color: #201a1e;
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  form input {
    width: 31.875rem;
    height: 2.9375rem;
    border-radius: 6px;
    border: none;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    display: block;
  }
  
  input::placeholder {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
  }
  
  /*button*/
  .order-btn {
    width: 12.5rem;
    height: 3.75rem;
    padding: 0.625rem 1rem 0.625rem 1.25rem;
    border-radius: 1.875rem;
    border: none;
    color: #201a1e;
    background-color: white;
    font-size: 1.3125rem;
    margin-top: 3.375rem;
    margin-left: 19.125rem;
  }
  