      <section class="search-menu">
        <div class="container">
          <div class="action-buttons">
            <button type="button" class="btn-order">
              <img src="/Images/Works/layers.png" alt="Order logo" /> Sırala
            </button>
            <button type="button" class="btn-filter">
              <img src="/Images/Works/filter.png" alt="Filter logo" /> Filtr
            </button>
          </div>
          <div class="search-bar">
            <input
              type="text"
              name=""
              id="search-input"
              placeholder="Artist və ya əl işi axtarın"
            />
            <button type="submit" class="btn-search">
              Axtar <img src="/Images/Works/search.png" alt="search-logo" />
            </button>
          </div>
        </div>
      </section>