<div class="hero">
  <img src="/Images/Works/background-image.png" alt="team photo" />

  <div class="slogan">
    <div class="title">Əl İşləri</div>

    <div class="subtitle">Hər bir əl işi bir göz nuru və ümid mənbəyidir.</div>
  </div>
</div>