      <section class="text-overlay">
        <div class="content-container">
          <div class="back-navigation">
            <a href="">
              <img src="/Images/Works/Arrow Right.png" alt="Back arrow" />
              Geri
            </a>
          </div>
          <h1 class="main-heading">Əl İşləri</h1>
          <p class="subtitle">
            Hər bir əl işi bir göz nuru və ümid mənbəyidir.
          </p>
        </div>
      </section>