@page "/internal-server-error"

<div class="not-found">
    <div class="container">
    <div class="header">
        <h1>500</h1>
        <p>Oops! Internal server error occured.</p>
    </div>
    <div class="gif-container">
        <img src="/Images/500.webp" alt="500 error">
    </div>
    <a href="/" class="home-link">Go to Homepage</a>
</div>
<div class="background-elements">
    <div class="circle"></div>
    <div class="square"></div>
    <div class="triangle"></div>
</div>
</div>
