.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
}

.top-row {
    width: 100%;
    margin: 2.5rem 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}

.logo {
    font-family: 'EB Garamond';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.915rem;
    margin-left: 2.5rem !important;
}

.navigation-link {
    font-family: sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.465rem;
}

.navigation-container {
    margin-right: 5rem;
    display: flex;
    justify-self: flex-end;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 23.125rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    article {
        padding: 0 !important;
    }
}