@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a class="logo" href="/" target="_blank">
                <img src="/Images/logo.png"/>
            </a>

            <div class="navigation-container">
                <a class="navigation-link" href="/" target="_blank">Ana səhifə</a>

                <a class="navigation-link" href="/Artists" target="_blank">Əl işləri</a>

                <a class="navigation-link" href="/TutorialsAndExhibitions" target="_blank">Təlimlər</a>

                <a class="navigation-link" href="/AboutUs" target="_blank">Sərgilər</a>

                <a class="navigation-link" href="/AboutUs" target="_blank">Haqqımızda</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
