.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
}

.top-row {
    width: 100%;
    margin: 2.5rem 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}

.logo {
    font-family: 'EB Garamond';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.915rem;
    margin-left: 2.5rem !important;
}

.navigation-link {
    font-family: 'DM Sans';
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.465rem;
}

.navigation-container {
    display: flex;
    justify-self: flex-end;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 23.125rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    article {
        padding: 0 !important;
    }
}

.lang-menu {
    text-align: right;
    position: relative;
    margin-right: 5rem;
    margin-left: 2rem;
}

.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 1.465rem;
    color: white;
    cursor: pointer;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 0.625rem rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex !important;
    text-decoration: none;
    padding: 5px 0.625rem;
    display: block;
    color: #60480b;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.lang-menu:hover ul {
    display: block;
}

.dark {
    color: #60480b !important;
}

.lang-menu img {
    width: 1.4rem;
    margin-right: 0.4rem;
}