@inherits LayoutComponentBase

@inject NavigationManager navigationManager

<div class="page">
    <main>
        <div class="top-row px-4">
            @if (this.navigationManager.BaseUri == this.navigationManager.Uri)
            {
                <a class="logo" href="/">
                    <img src="/Images/logo.png" />
                </a>

                <div class="navigation-container">
                    <a class="navigation-link" href="/">Ana səhifə</a>

                    <a class="navigation-link" href="/Works">Əl işləri</a>

                    <a class="navigation-link" href="/Tutorials">Təlimlər</a>

                    <a class="navigation-link" href="/Exhibitions">Sərgilər</a>

                    <a class="navigation-link" href="/AboutUs">Haqqımızda</a>
                </div>
            }
            else
            {
                <a class="logo" href="/">
                    <img src="/Images/dark-logo.png" />
                </a>

                <div class="navigation-container">
                    <a style="color: #60480b" class="navigation-link" href="/">Ana səhifə</a>

                    <a style="color: #60480b" class="navigation-link" href="/Works">Əl işləri</a>

                    <a style="color: #60480b" class="navigation-link" href="/Tutorials">Təlimlər</a>

                    <a style="color: #60480b" class="navigation-link" href="/Exhibitions">Sərgilər</a>

                    <a style="color: #60480b" class="navigation-link" href="/AboutUs">Haqqımızda</a>
                </div>
            }

            
        </div>
        <div class="lang-menu">
                <div class="selected-lang">
                    Azərbaycan
                </div>
                <ul>
                    <li>
                        <a href="#" class="de">English</a>
                    </li>
                    <li>
                        <a href="" class="en">Azərbaycan</a>
                    </li>
                </ul>
            </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
