.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
}

.top-row {
    width: 100%;
    margin: 2.5rem 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 2rem;
    text-decoration: none;
    color: white;
}

.logo img {
    width: 14rem;
    object-fit: contain;
}

.logo {
    z-index: 99999;
    width: 15rem;
}

.navigation-link {
    font-family: 'DM Sans';
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.465rem;
}

.navigation-container {
    display: flex;
    justify-self: flex-end;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    article {
        padding: 0 !important;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    article {
        padding: 0 !important;
    }
}

article {
    padding: 0 !important;
}

.lang-menu {
    text-align: right;
    position: relative;
    margin-right: 5rem;
    margin-left: 2rem;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 1.465rem;
    color: white;
    cursor: pointer;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 0.625rem rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex !important;
    text-decoration: none;
    padding: 5px 0.625rem;
    display: block;
    color: #60480b;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.lang-menu:hover ul {
    display: block;
}

.dark {
    color: #60480b !important;
}

.lang-menu img {
    width: 1.4rem;
    margin-right: 0.4rem;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

label {
    display: none;
    float: right;
}

@media only screen and (max-width: 640.98px) {
    .lang-menu .selected-lang {
        justify-content: left;
        color: #474644;
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
    }

    .logo {
        position: absolute;
        left: 2rem;
        transition-delay: 1s;
    }

    .top-row {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .hamburger-menu {
        --x-width: calc(4px * 3 + 6px * 2 * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu:has(input:checked)::before,
    .hamburger-menu:has(input:checked)::after {
        background-color: #474644;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: 30px;
        height: 2.5px;
        background-color: white;
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
        rotate 200ms ease-in-out, translate 200ms ease-in-out,
        background-color 200ms ease-in-out;
    }

    .hamburger-menu-dark::before,
    .hamburger-menu-dark::after,
    .hamburger-menu-dark input {
        content: "";
        width: 30px;
        height: 2.5px;
        background-color: #60480b;
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
        rotate 200ms ease-in-out, translate 200ms ease-in-out,
        background-color 200ms ease-in-out;
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: calc(2.5px * 3 + 6px * 2 * 1.41421356237);
        translate: 0 calc(0.375px / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: calc(2.5px * 3 + 6px * 2 * 1.41421356237);
        translate: 0 calc(0.375px / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .navigation-container {
        transition: translate 200ms ease-in-out;
        translate: 0 -100%;
        padding: 0.5rem 1rem;
        padding-top: 35rem;
        background-color: #f2e9e3;
        width: 100%;
        flex-direction: column;
    }

    .navigation-container > a {
        color: #474644;
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
    }

    label:has(input:checked) {
        color: #474644;
    }

    .hamburger-menu:has(input:checked) ~ .navigation-container {
        translate: 0;
    }

    .hamburger-menu:has(input:checked) ~ .logo {
        display: none;
    }
}