@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a class="logo" href="/Home" target="_blank">Logo</a>

            <div class="navigation-container">
                <a class="navigation-link" href="/Home" target="_blank">Home</a>

                <a class="navigation-link" href="/Artists" target="_blank">Artists</a>

                <a class="navigation-link" href="/TutorialsAndExhibitions"
                    target="_blank">Tutorials&Exhibitions</a>

                <a class="navigation-link" href="/AboutUs" target="_blank">About Us</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
