<div class="artists">
    <h2>Sənətkarlarımızı tanıyaq</h2>

    <div class="artists-cards">
        <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
            Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in love for nature and humanity." />

        <div class="image-galery">
            <img src="/Images/Artists/image-6.png" />

            <img src="/Images/Artists/image-7.png" />

            <img src="/Images/Artists/image-8.png" />

            <img src="/Images/Artists/image-6.png" />
        </div>
    </div>
</div>