@inject IHttpClientFactory httpClientFactory

<div class="artists">
    <h2>Sənətkarlarımızı tanıyaq</h2>

    <div class="artists-cards">
        <div class="image-galery slider" style="--count:@Count;
        --half-count:@HalfCount">
            <div class="slide-track">
                @foreach(var artist in AllArtists)
                {
                    <ArtistCard Name="@artist.Name" Major="@artist.Major" ImageUrl="@artist.ImageUrl"
                    Information="@artist.Description" />
                }

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />

                <ArtistCard Name="Arif Hajiyev" Major="Woodcarver" ImageUrl="/Images/Artists/ArifHajiyev.png"
                    Information="A passionate woodcarver, shapes intricate sculptures that evoke stories. His works have rooted in
        love for nature and humanity." />
            </div>
        </div>
    </div>
</div>

<style>
    @@keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-620px * var(--half-count)))
        }
    }

    .slider {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .slide-track {
        animation: scroll 25s linear infinite;
        display: flex;
        width: calc(620px * var(--count));
    }

    .slide-track:hover {
        animation-play-state: paused;
    }
</style>

@code {
    public string? Count { get; set; } = "12";
    public string? HalfCount { get; set; } = "6";

    public IEnumerable<Artist> AllArtists { get; set; } = new List<Artist>() { };

    protected override async Task OnInitializedAsync()
    {
        var httpClient = httpClientFactory.CreateClient("Miras");

        var response = await httpClient.GetAsync($"api/Artists/GetAll");

        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        AllArtists = JsonConvert.DeserializeObject<List<Artist>>(content);
    }
}