.card {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 1.25rem !important;
    flex-shrink: 0;
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 1080px) {
    
}

.item {
    flex: 1 0;
    padding: 1rem;
}

.info {
    background-color: #f2e9e3;
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
    padding-top: 3.75rem;
    padding-left: 2.5rem;
    width: 30rem;
    height: 50rem;
}

img {
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    filter: grayscale(1);
    transition: all 0.5s ease;
    width: 30rem;
    height: 50rem;
}

.card:hover>img {
    filter: grayscale(0);
}

h3 {
    color: black;
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 2.625rem;
    font-family: 'EB Garamond';
    margin: 0 auto 2rem;
    text-align: left;
}

.name {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.115rem;
    margin-bottom: 0.4rem;
    letter-spacing: 5%;
}

.major {
    color: #746e6d;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: 5%;
}

p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-right: 2.5rem;
    letter-spacing: 4%;
}