.hero {
    position: relative;
    width: 100%;
}

img {
    width: 100%;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 5rem;
    width: 46.2rem;
    transform: translateY(-50%);
    color: white;
}

.title {
    font-family: 'EB Garamond';
    font-weight: 600;
    font-size: 3.875rem;
    line-height: 4.2625rem;
}