@using System.Diagnostics.CodeAnalysis
@inject ILocalStorageService LocalStorageService 

<div class="hero">
    <img src="/Images/hero.png" alt="Traditional craft of Azerbaijan"/>

    <div class="slogan">
        <div class="title">@Resources.homeSlogan</div>
    </div>
</div>