<div class="hero">
    <img src="/Images/hero.png" alt="Traditional craft of Azerbaijan"/>

    <div class="slogan">
        <div class="title">Məhdudiyyətləri aşaraq Mirasımızı yaşadaq!</div>
    </div>
</div>