@inject ILocalStorageService LocalStorageService

<div class="logo">
    <img src="/Images/logo-section.png" alt="Logo">

    <div class="title">
        <img src="/Images/miras.png">
    </div>

    <div class="subtitle">@Resources.logoSlogan</div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var currentCulture = await LocalStorageService.GetItemAsync<string>("currentCulture");
        
        CultureInfo.DefaultThreadCurrentCulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
        
        CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
    }
}