<div class="mission">
    <h2>Misiyamız</h2>

    <h3 class="description">
        <div class="text">Fiziki məhdudiyyətli insanların əl işlərini tanıdaraq</div>
        <div class="text">onlara dəstək oluruq.</div>
        <div class="text">Onlar bizim Mirsasımızdır!</div>
    </h3>
</div>