@inject ILocalStorageService LocalStorageService

<div class="mission">
    <h2>@Resources.mission</h2>

    <h3 class="description">
        <div class="text">@Resources.missionSloganPart1</div>
        <div class="text">@Resources.missionSloganPart2</div>
        <div class="text">@Resources.missionSloganPart3</div>
    </h3>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var currentCulture = await LocalStorageService.GetItemAsync<string>("currentCulture");
        
        CultureInfo.DefaultThreadCurrentCulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
        
        CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
    }
}