h2 {
    color: black;
    font-size: 3.875rem;
    font-weight: 600;
    line-height: 4.2625rem;
    font-family: 'EB Garamond';
    margin: 0 auto 3rem;
    text-align: center;
}

.partners-container {
    display: flex;
    flex-direction: row;
    background-color: #d9cccd;
    justify-content: space-between;
    padding: 1.5rem;
}

img {
    object-fit: none;
}