<h2>Tərəfdaşlarımız</h2>

<div class="partners-container">
    <img src="/Images/bhos-logo.png" alt="BHOS logo"/>

    <img src="/Images/icma-logo.png" alt="ICMA logo"/>

    <img src="/Images/marsol-logo.png" alt="MARSOL GROUP logo"/>
    
    <img src="/Images/socar-logo.png" alt="SOCAR logo"/>
</div>