@inject ILocalStorageService LocalStorageService 

<div class="tutorials-exhibitions">
    <a href="/Tutorials" class="tutorials">
        <img src="/Images/tutorials.png" alt="Tutorials cover image" />

        <div class="title">@Resources.tutorialsPagePass</div>

        <div class="subtitle">@Resources.tutorialsPagePassSubtitle</div>
    </a>

    <a href="/Exhibitions" class="exhibitions">
        <img src="/Images/exhibitions.png" alt="Exhibitions cover image" />

        <div class="title">@Resources.exhibitionsPagePass</div>

        <div class="subtitle">@Resources.exhibitionsPagePassSubtitle</div>
    </a>
</div>

