<div class="tutorials-exhibitions">
    <div class="tutorials">
        <img src="/Images/tutorials.png" alt="Tutorials cover image" />

        <div class="title">Sənəti bizimlə öyrən</div>

        <div class="subtitle">Təlimlər</div>
    </div>

    <div class="exhibitions">
        <img src="/Images/exhibitions.png" alt="Exhibitions cover image" />

        <div class="title">Əl işlərini satmaq imkanı</div>

        <div class="subtitle">Sərgilər</div>
    </div>
</div>