@inject ILocalStorageService LocalStorageService 

<div class="videos-section">
    <h2>@Resources.artistsSpeak</h2>

    <div class="slider">
        <div class="videos slide-track">
            <video src="/Videos/first-video.mp4" preload="auto" controls></video>
        </div>
    </div>
</div>

