<div class="videos-section">
    <h2>Danışır Sənətkarlar</h2>

   <div class="slider">
     <div class="videos slide-track">
       <video src="/Videos/first-video.mp4" controls></video>
    </div>
   </div>
</div>