@inject ILocalStorageService LocalStorageService 

<div class="videos-section">
    <h2>@Resources.artistsSpeak</h2>

    <div class="slider">
        <div class="videos slide-track">
            <video src="/Videos/first-video.mp4" controls></video>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var currentCulture = await LocalStorageService.GetItemAsync<string>("currentCulture");
        
        CultureInfo.DefaultThreadCurrentCulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
        
        CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.GetCultureInfo(currentCulture ?? "az-AZ");
    }
}