@inject ILocalStorageService LocalStorageService 

<div class="amateurs-container">
    <img src="/Images/artist-works.png">

    <div class="title">@Resources.worksPagePass</div>

    <a class="see-more" href="/works">
        @Resources.seeWorks

        <svg  viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.4043 2.6543L15.7499 8.99995L9.4043 15.3456" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.7499 9L2.25 9" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>

