<div class="hero">
    <img src="/Images/tutorials-hero.png" alt="tutorials photo"/>

    <div class="slogan">
        <div class="title">Təlimlər</div>

        <div class="subtitle">Hər kəs bir sənətkardır, içinizdəki sənətkarı bizimlə ortaya çıxarın!</div>
    </div>
</div>