<div class="hero">
    <img src="/Images/tutorials-hero.png" alt="tutorials photo"/>

    <div class="slogan">
        <div class="title">@Resources.tutorialsPage</div>

        <div class="subtitle">@Resources.tutorialsPageSlogan</div>
    </div>
</div>