.contributors {
    margin-top: 7rem;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
}

p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 25.2px;
    letter-spacing: 6%;
    width: 522px;
}

h2 {
    font-size: 62px;
    font-family: 'EB Garamond';
    font-weight: 600;
    line-height: 68.2px;
}

button {
    border-radius: 40px;
    color: white;
    background-color: rgba(63, 0, 5, 1);
    border: none;
    padding: 20px, 30px, 20px, 36px;
    width: 197px;
    height: 60px;
    margin-top: 50px;
}

img {
    margin-top: 70px;
    margin-left: 5rem;
}