<div class="contributors">
    <div>
        <h2>Our Contributors</h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam
            neque ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>

        <ul>
            <li>Some data 1</li>
            <li>Some data 2</li>
            <li>Some data 3</li>
        </ul>

        <button>
            All artists

            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.9043 2.6543L16.2499 8.99995L9.9043 15.3456" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.2499 9L2.75 9" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
        </button>
    </div>

    <div>
        <img src="/Images/3d-map.png" alt="3d map of Azerbaijan" />
    </div>
</div>