.hero {
    position: relative;
    width: 100%;
}

img {
    width: 100%;
}

.slogan {
    position: absolute;
    top: 15rem;
    left: 5rem;
    width: 46.2rem;
    color: white;
}

.title {
    font-family: 'EB Garamond';
    font-weight: 600;
    font-size: 3.875rem;
    line-height: 4.2625rem;
}

.subtitle {
    width: 39.375rem;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: 6%;
    color: rgba(255, 255, 255, 1);
    margin-top: 0.625rem;
}

button {
    border-radius: 2.5rem;
    color: black;
    background-color: white;
    border: none;
    padding: 1.25rem, 1.873rem, 1.25rem, 2.25rem;
    width: 12.5rem;
    height: 3.75rem;
    margin-top: 2.5rem;
}