<div class="heritage-container">
    <img src="/Images/heritage.png" alt="Historical heritage on handcraft" />

    <h2>Our historical heritage on handcraft</h2>
</div>

<p>
    Azerbaijani fine arts have a rich and diverse heritage that spans centuries. In the Paleolithic period, petroglyphs
    and motifs were already present, and over time, Azerbaijani fine art evolved under the influence of Arab, Persian,
    and Silk Road cultures. Notable hallmarks include intricate miniature prints, murals, and realistic easel paintings.
    The country’s cultural heritage also extends to intangible forms, such as mugham music, traditional carpet weaving,
    and the performance of the tar musical instrument. Additionally, Azerbaijan boasts two UNESCO-listed sites: Icheri
    Sheher (the Old City) and the rock art of Gobustan, which includes the Palace of the Shirvanshahs and the iconic
    Maiden Tower.
</p>