<h2>Our Partners</h2>

<div class="partners-container">
    <img src="/Images/socar-logo.png" alt="SOCAR logo"/>

    <img src="/Images/bhos-logo.png" alt="BHOS logo"/>
    
    <img src="/Images/marsol-logo.png" alt="MARSOL GROUP logo"/>
</div>