h2 {
    font-size: 3.875rem;
    font-family: 'EB Garamond';
    font-weight: 600;
    line-height: 4.2625rem;
}

div {
    margin-top: 2.8125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular-products {
    display: block;
    margin: 6.25rem 5rem 0;
}

div.buttons {
    justify-content: right;
}

svg {
    margin-left: 1rem;
}