h2 {
    font-size: 62px;
    font-family: 'EB Garamond';
    font-weight: 600;
    line-height: 68.2px;
}

div {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular-products {
    display: block;
    margin: 100px 80px 0;
}

div.buttons {
    justify-content: right;
}

svg {
    margin-left: 15px;
}