<div class="tutorials-exhibitions">
    <div class="tutorials">
        <img src="/Images/tutorials.png" alt="Tutorials cover image" />

        <div class="title">Learn with us</div>

        <div class="subtitle">Lorem ipsum dolor intyus</div>
    </div>

    <div class="exhibitions">
        <img src="/Images/exhibitions.png" alt="Exhibitions cover image" />

        <div class="title">See the exhibitions</div>

        <div class="subtitle">Lorem ipsum dolor intyus</div>
    </div>
</div>