@page "/en"

<PageTitle>Home page</PageTitle>

<Hero />

<Mission />

<Artists />

<h2 class="heading">Each handwork is a source of light and hope.</h2>

<WorksOfSpecialArtists />

<TutorialsAndExhibitions />

<Partners />

<Videos />

<Logo />

<Footer />