<div class="hero">
    <img src="/Images/Exhibitions/exhibition-hero.png" alt="exhibitions photo"/>

    <div class="slogan">
        <div class="title">@Resources.exhibitionsPage</div>

        <div class="subtitle">@Resources.tutorialsPageSlogan</div>
    </div>
</div>