@page "/"

<Hero />

<Contributors />

<PopularProducts />

<WorksOfProfessionals />

<h2 class="heading">“A nation's culture resides in the hearts and in the soul of its people.”</h2>

<WorksOfAmateurs />

<Partners />

<HistoricalHeritage />

<hr>

<TutorialsAndExhibitions />

<Logo />