@page "/"

<PageTitle>@Resources.homePage</PageTitle>

<Hero />

<Mission />

<Artists />

<h2 class="heading">@Resources.homeQuote</h2>

<WorksOfSpecialArtists />

<TutorialsAndExhibitions />

<Partners />

<Videos />

<Logo />

<Footer />