@page "/"

<SeoHeader Title="Legacy — Let's live our legacy by overcoming the limitations!" Overview="Legacy is a platform empowering disabled artists to sell their handicrafts, reducing unemployment, and promoting equality. Discover unique art, tutorials, exhibitions, and more as we help talented individuals overcome limitations and live their legacy." Author="Emil Abdullayev" Keywords="Miras, Legacy, artlegacy, handicrafts, handmade, art, overcoming, limitations, artists, exhibitions, art works, tutorials, team, society, equality, hope, opportunity, ecology" />

<PageTitle>@Resources.homePage</PageTitle>

<Hero />

<Mission />

<Artists />

<h2 class="heading">@Resources.homeQuote</h2>

<WorksOfSpecialArtists />

<TutorialsAndExhibitions />

<Partners />

<Videos />

<Logo />

<Footer />