@page "/"

<PageTitle>Home</PageTitle>

<Hero />

<Mission />

<Artists />

<h2 class="heading">Hər bir əl işi bir göz nuru və ümid mənbəyidir.</h2>

<WorksOfSpecialArtists />

<TutorialsAndExhibitions />

<Partners />

<Videos />

<Logo />

<Footer />