<div class="goal">
    <h2>@Resources.ourGoal</h2>

    <p>
        @Resources.mainGoal
    </p>

    <p>
        @Resources.howToReachTheGoal
    </p>

    <br>
    <br>

    <p>
        <i>@Resources.missionSloganPart3</i>
    </p>
</div>