<div class="goal">
    <h2>Məqsədimiz</h2>

    <p>
        Miras layihəsinin məqsədi fiziki məhdudiyyətli insanların yaradıcılıqlarını və hazırladıqları əl işlərini
        tanıdaraq onların istedadlarını dəstəkləməklə yanaşı iqtisadi müstəqilliklərini təmin etmək və cəmiyyətin
        müxtəlifliyini və bərabərliyini təşviq etməkdir.Sənətkarlıqla məşğul olan fiziki məhdudiyyətli insanlar tarixi mirasımız olan sənətkarlığı yaşatmaqla bərabər
        cəmiyyətin bizə mirasıdır.
    </p>

    <p>
        <b>Missiyamız</b> qarşımıza qoyduğumuz məhdudiyyətləri aşaraq bizə miras edilən insanları dəstəkləmək və
        həvəsləndirməkdir. Fiziki məhdudiyyətli insanların əl işlərini tanıdaraq onlara dəstək olmağı və məhdudiyyətləri
        aşmağa ruhlandırmağı özümüzə missiya olaraq seçmişik.
    </p>

    <br>
    <br>

    <p>
        <i>Onlar bizim Mirasımızdır!</i>
    </p>
</div>