<div>
    <h2>Hekayəmiz</h2>

    <p>"Miras" layihəsi Bakı Ali Neft Məktəbinin "Enactus" komandasının sosial məsuliyyət çərçivəsində həyata keçirdikləri bir sosial layihədir. Bakı Ali Neft Məktəbinin təməl dəyərlərindən biri Azərbaycan Respublikasının vətəndaşlarına xidmət edərək parlaq gələcəyimiz üçün parlaq tələbələr yetişdirməkdir.  Tələbələrimizə hər zaman cəmiyyətin həssas üzvlərinə qarşı məsuliyyət aşılandığı kimi tələbələrimiz də cəmiyyətimizin hər bir üzvünün fiziki məhdudiyyətli şəxslərə qarşı daha həssas və məsuliyyətli olmasını təşviq etməyi qarşılarına əsas məqsəd olaraq qoyublar.</p>
</div>