<div class="hero">
    <img src="/Images/team-hero.png" alt="team photo"/>

    <div class="slogan">
        <div class="title">@Resources.aboutUsPage</div>

        <div class="subtitle">@Resources.aboutUsPageSlogan</div>
    </div>
</div>