<div class="hero">
    <img src="/Images/team-hero.png" alt="team photo"/>

    <div class="slogan">
        <div class="title">Haqqımızda</div>

        <div class="subtitle">“Layihə adı” komandamızla daha yaxından tanış olun!</div>
    </div>
</div>