.values {
    margin: 5rem;
}

h2 {
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.125rem;
    font-family: 'EB Garamond';
    text-align: left;
    margin-bottom: 3rem;
}

p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: 6%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5rem;
}

.value {
    display: flex;
    flex-direction: row;
}