<div class="values">
    <h2>Dəyərlərimiz</h2>

    <div class="value">
        <p>
            <b>İnklüzivlik:</b> “Miras” platformamız bacarıq və fiziki məhdudiyyətindən asılı olmayaraq hər kəs üçün
            açıq və əlçatandır.
            <br>
            <br>
            <b>Həmrəylik:</b> Fiziki məhdudiyyətli insanlarla cəmiyyət arasında bərabərlik və həmrəyliyi təşviq edirik.
        </p>

        <img src="/Images/About/first-value.png" />
    </div>

    <div class="value">
        <img src="/Images/About/second-value.png" />

        <p style="padding-left: 5rem; padding-right: 0;">
            <b>Dəstək:</b> Fiziki məhdudiyyətli insanlara iqtisadi və sosial cəhətdən müstəqillik əldə etməkdə kömək
            etməyə özümüzü həsr edirik.
            <br>
            <br>
            <b>Güvən:</b> Miras layihəsində olan satıcılarla və həm də müştərilərimizlə olan münasibətlərimizdə güvən
            təməl bir prinsipdir.
        </p>
    </div>

    <div class="value">
        <p>
            <b>Şəffaflıq:</b> Fəaliyyətlərimizdə şəffaflıq və cavabdehlik təmin edirik.
            <br>
            <br>
            <b>Məsuliyyət:</b> Özümüzü əhatə etdiyimiz insanlara və cəmiyyətə qarşı məsuliyyət daşıyırıq.
        </p>

        <img src="/Images/About/third-value.png" />
    </div>
</div>